<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link
    rel="shortcut icon"
    href="https://i.ibb.co/gFdWfc6/Whats-App-Image-2023-04-27-at-8-43-16-AM-1-modified.png"
    type="image/svg"
    />
    <link rel="stylesheet" href="css/RegistroDoctoresLy.css">
    <link rel="stylesheet" href="css/dashboardDoctor.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="css/indexStyle2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <script src="js/scriptIndex.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<!-- Move to up button -->
  <div class="scroll-button">
    <a href="#home"><i class="fas fa-arrow-up"></i></a>
  </div>
  <!-- navgaition menu -->
  <nav class="nav">
    <div class="navbar">
      <div class="logo"><a href="#">Lyra.</a></div>
      <ul class="menu">
        <li><a href="#services">Inicio</a></li>
        <li class="bomba"><a class="blanquis" href="">Registro</a></li>
        <li class="bomba"><a class="blanquis" href="">Inicio de sesión</a></li>
        <div class="cancel-btn">
          <i class="fas fa-times"></i>
        </div>
       </ul>
      <div class="media-icons">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
    <div class="menu-btn">
      <i class="fas fa-bars"></i>
    </div>
  </nav>


<section class="home" id="home">
    <div class="login-container">
     
        <div class="login-box">

            <div class="row">
                <div class="column col1">
            <h2 class="TextInfo">Regístrate como psicólogo en Lyra.</h2>
            <h5 class="miniInfo">Crea una cuenta ahora mismo</h5>
            <form>
              
                <div class="input-container magTop">
                    <h4 class="infoLabel">Nombre</h4>
                    <input type="text" name="" placeholder="Escribe tu nombre" required="" class="inputTypes">
                </div>
                <div class="input-container magTop magboTom">
                    <h4 class="infoLabel">Apellidos</h4>
                    <input type="text" name="" placeholder="Escribe tus apellidos" required="" class="inputTypes">
                </div>
                <div class="conteneEdadSexo">
                    <div class="input-container magTop mitades">
                        <h4 class="infoLabel">Edad</h4>
                        <input type="number" name="" placeholder="0 - 100" required="" class="inputTypes">
                    </div>
                    <div class="input-container magTop mitades marginLeft">
                        <h4 class="infoLabel">Sexo</h4>
                        <select class="inputTypes2 selectB">
                            <option value="Femenino">Selecciona</option>
                            <option value="Femenino">Femenino</option>
                            <option value="Masculino">Masculino</option>
                            <option value="Prefiero no decirlo">Prefiero no decirlo</option>
                        </select>
                    </div>
                </div>
                <div class="input-container magTop">
                    <h4 class="infoLabel">Nombre de usuario</h4>
                    <input type="text" name="" placeholder="Escribe tu usuario personalizado..." required="" class="inputTypes">
                </div>
                <div class="input-container magTop">
                    <h4 class="infoLabel">Correo electrónico</h4>
                    <input type="email" name="" placeholder="Ejemplo@mail.com" required="" class="inputTypes">
                </div>
                <div class="input-container magTop">
                    <h4 class="infoLabel">Contraseña</h4>
                    <input type="password" name="" placeholder="Escribe tu contraseña" required="" class="inputTypes">
                </div>    
                <button type="submit" class="SubmitBtn">Registrate </button>
                <h3 class="DescriptionInfoBottom">¿Ya tienes una cuenta? <a href="" class="Redirect">inicia sesión</a> </h3>
            </form>
                 
                </div>
                <div class="column col2">
                    <div class="coles">
                        <div class="Circlelogo"></div>
                        <div class="LogoName">Lyra</div>
                        <div class="LogoName2">Regístra una cuenta para poder acceder al chat</div>
                        <div class="cuadrodatos">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam aliquam obcaecati suscipit expedita voluptatibus iure vitae quo necessitatibus, earum fugiat!</div>
                    </div>
                </div>
              </div>

              
              
           
        </div>
    </div>
</body>
</section>

</html>